{% extends "base_resume.html" %}

{% block header %}
    <div class="container">
        <img class="profile-image img-responsive pull-left" src="{{ url_for('static', filename='images/profile.jpg') }}
        " alt="James Lee" />
        <div class="profile-content pull-left">
            <h1 class="name">{{ resume.name }}</h1>
            <h2 class="desc">{{ resume.headline }}</h2>
            <ul class="social list-inline">
                {% for site_link in resume.site_links %}
                    <li {% if loop.last %}class="last-item"{% endif %}><a href="{{ site_link.url }}"><i class="fa {{ site_link.css_name }}"></i></a></li>
                {% endfor %}
            </ul>
        </div><!--//profile-->
        <div id="contact-me"></div>
    </div><!--//container-->
{% endblock header %}

{% block content %}
    <div class="hidden" id="github-username" github-username="{{ resume.github_username }}"></div>
    {% include 'resume_content.html' %}
{% endblock content %}

{% block footer %}
    <div class="container text-center">
        <!--/* This template is released under the Creative Commons Attribution 3.0 License.
        Please keep the attribution link below when using for your own project.
        Thank you for your support. :) If you'd like to use the template without the attribution,
        you can check out other license options via our website: themes.3rdwavemedia.com */-->
        <small class="copyright">Designed with <i class="fa fa-heart"></i> by <a href="http://themes.3rdwavemedia.com" target="_blank">Xiaoying Riley</a> for developers</small>
    </div><!--//container-->
{% endblock footer %}

{% block extrabody %}
    <!-- Javascript -->
    <script src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react.js') }}"></script>
    <script src="{{ url_for('static', filename='bower_components/react/react-dom.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/js/reddit_client.js') }}"></script>
    <!-- Resume Template Javascript -->
    {# <script type="text/javascript" src="assets/plugins/jquery-1.11.3.min.js"></script>#}
    <script src="{{ url_for('static', filename='plugins/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='plugins/jquery-rss/dist/jquery.rss.min.js') }}"></script>
    <!-- github calendar plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/3.0.2/es6-promise.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fetch/0.10.1/fetch.min.js"></script>
    <script src="{{ url_for('static', filename='plugins/github-calendar/dist/github-calendar.min.js') }}"></script>
    <!-- github activity plugin -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
    <script src="{{ url_for('static', filename='plugins/github-activity/src/github-activity.js') }}"></script>
    <!-- custom js -->
    <script src="{{ url_for('static', filename='scripts/js/main.js') }}"></script>
{% endblock extrabody %}